# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# MLflow / Tracking
mlflow.db
mlruns/
catboost_info/
tensorboard/

# Data & Artifacts
data/processed/
data/raw/
*.csv
*.png
*.jpg
*.jpeg
*.html
!monitoring/reports/*.html

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.wasm
frontend/package-lock.json

# IDEs
.vscode/
.idea/
.DS_Store
